.weatherBg{
  background-image: url("/src/weather-background.jpg");
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.heading{
  color: white;
  font-weight: 700;
}

.weatherResultBox{
  margin: auto;
  width: 400px;
  height: 250px;
}

.weatherIcon{
  margin-top: 2rem;
  width: 100px;
  height: 100px;
}

.weatherCity{
  font-size: 30px;
}

.weatherTemp{
  font-size: 50px;
  font-weight: 700;
}